<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <ul>
        {% for cliente in clientes %}
        <li>{{cliente.nombre}}</li>
        <li>{{cliente.apellidos}}</li>
        <li>{{cliente.cedula}}</li>
        <button><a href="{% url 'consulta' cliente.cedula %}">Consultar</a></button>
        <button><a href="{% url 'eliminarCliente' cliente.cedula %}">Eliminar</a></button>
        {% empty %}
        <li>No articles yet.</li>
        {% endfor %}
    </ul>

    <button><a href="/cliente/registrar">Registrar cliente</a></button>
    <button><a href="/porcino/all">Todos los porcinos</a></button>
    <button><a href="/alimentos/all">Todos los alimentos</a></button>
    <button><a href="/report">Generar reporte</a></button>

</body>
</html>