{% extends 'mi_app/base.html' %}

{% block title %} Inicio {% endblock %}

{% block content %}

<ul>
    {% for cliente in clientes %}
    <div>
        <li>{{cliente.nombre}}</li>
        <li>{{cliente.apellidos}}</li>
        <li>{{cliente.cedula}}</li>
    </div>
    <h3>hola</h3>
    {% empty %}
    <li>No articles yet.</li>
    {% endfor %}
</ul>

<!-- <div>
    <form action="save" method="post">
        {% csrf_token %}

        <label for="cedula">cedula: </label>
        <input id="cedula" type="number" name="cedula">

        <label for="nombre">Your name: </label>
        <input id="nombre" type="text" name="nombre">

        <label for="apellidos">Your apellidos: </label>
        <input id="apellidos" type="text" name="apellidos">

        <label for="direccion">Your direccion: </label>
        <input id="direccion" type="text" name="direccion">

        <label for="telefono">Your telefono: </label>
        <input id="telefono" type="number" name="telefono">

        <input type="submit" value="OK">
    </form> -->

{% endblock %}