<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
</head>
<body>

    <ul>
        {% for porcino in porcinos %}
        <li>{{porcino.clientes_cedula.nombre}} {{porcino.clientes_cedula.apellidos}}</li>
        <li>{{porcino.idporcinos}}</li>
        <li>{{porcino.edad}}</li>
        <li>{{porcino.peso}}</li>
        <li>{{porcino.razas_idrazas.name}}</li>
        {% empty %}
        <li>No articles yet.</li>
        {% endfor %}
    </ul>

    <button><a href="/">volver</a></button>
    <button><a href="/cliente/registrar">Registrar cliente</a></button>

</body>
</html>